.contenidoSeccion {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 100%;
    /* /* flex-direction: row; */
    /* justify-content: flex-end; */
    width: 100%; 
    /* flex-direction: column; */
    /* border: solid green; */
    height: 100%;
    border-radius: 10px;
}
