.contenidoSeccionPokedex {
  width: 100%;
  display: flex;
  border: solid black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.dex {
  background-color: white;
  border-radius: 30px;
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 5px;
}

.dex:hover {
  background-color: black;
  color: white;
}

.dex:hover .caughtSeen {
  background-color: #555;
}

.dex .dexName {
  align-self: center;
  font-weight: bolder;
  font-size: large;
}

.dexProgress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.caughtSeen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  background-color: lightgray;
  border-radius: 10px;
}

.dexRecomendations {
  width: 75%;
  max-width: 450px;
  margin-top: 10px;
}


.dexRecomendationTitle {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.dexRecomendationBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 24px;
    background-color: rgba(3, 3, 3, 0.2);
    border-radius: 35px;
    margin: 10px;
}

.dexRecomendationBody:hover {
    background-color: rgba(3, 3, 3, 0.5);
    color: #eee;
}
